<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd</key>
<plist version="1.0</key>
<dict>
<key>phone</key><string>📞</string>
<key>mobile</key><string>📱</string>
<key>mouse</key><string></string>
<key>address</key><string></string>
<key>mail</key><string>✉</string>
<key>paper-plane</key><string>🔿</string>
<key>pencil</key><string>✎</string>
<key>feather</key><string>✒</string>
<key>attach</key><string>📎</string>
<key>inbox</key><string></string>
<key>reply</key><string></string>
<key>reply-all</key><string></string>
<key>forward</key><string>➦</string>
<key>user</key><string>👤</string>
<key>users</key><string>👥</string>
<key>add-user</key><string></string>
<key>vcard</key><string></string>
<key>export</key><string></string>
<key>location</key><string></string>
<key>map</key><string></string>
<key>compass</key><string></string>
<key>direction</key><string>➢</string>
<key>hair-cross</key><string>🎯</string>
<key>share</key><string></string>
<key>shareable</key><string></string>
<key>heart</key><string>♥</string>
<key>heart-empty</key><string>♡</string>
<key>star</key><string>★</string>
<key>y</key><string>☆</string>
<key>thumbs-up</key><string>👍</string>
<key>thumbs-down</key><string>👎</string>
<key>chat</key><string></string>
<key>comment</key><string></string>
<key>quote</key><string>❞</string>
<key>home</key><string>⌂</string>
<key>popup</key><string></string>
<key>search</key><string>🔍</string>
<key>flashlight</key><string>🔦</string>
<key>print</key><string></string>
<key>bell</key><string>🔔</string>
<key>link</key><string>🔗</string>
<key>flag</key><string>⚑</string>
<key>cog</key><string>⚙</string>
<key>tools</key><string>⚒</string>
<key>trophy</key><string>🏆</string>
<key>tag</key><string></string>
<key>camera</key><string>📷</string>
<key>megaphone</key><string>📣</string>
<key>moon</key><string>☽</string>
<key>palette</key><string>🎨</string>
<key>leaf</key><string>🍂</string>
<key>note</key><string>♪</string>
<key>beamed-note</key><string>♫</string>
<key>new</key><string>💥</string>
<key>graduation-cap</key><string>🎓</string>
<key>book</key><string>📕</string>
<key>newspaper</key><string>📰</string>
<key>bag</key><string>👜</string>
<key>airplane</key><string>✈</string>
<key>lifebuoy</key><string></string>
<key>eye</key><string></string>
<key>clock</key><string>🕔</string>
<key>mic</key><string>🎤</string>
<key>calendar</key><string>📅</string>
<key>flash</key><string>⚡</string>
<key>thunder-cloud</key><string>⛈</string>
<key>droplet</key><string>💧</string>
<key>cd</key><string>💿</string>
<key>briefcase</key><string>💼</string>
<key>air</key><string>💨</string>
<key>hourglass</key><string>⏳</string>
<key>gauge</key><string>🛇</string>
<key>language</key><string>🎔</string>
<key>network</key><string></string>
<key>key</key><string>🔑</string>
<key>battery</key><string>🔋</string>
<key>bucket</key><string>📾</string>
<key>magnet</key><string></string>
<key>drive</key><string>📽</string>
<key>cup</key><string>☕</string>
<key>rocket</key><string>🚀</string>
<key>brush</key><string></string>
<key>suitcase</key><string>🛆</string>
<key>traffic-cone</key><string>🛈</string>
<key>globe</key><string>🌎</string>
<key>keyboard</key><string>⌨</string>
<key>browser</key><string></string>
<key>publish</key><string></string>
<key>progress-3</key><string></string>
<key>progress-2</key><string></string>
<key>progress-1</key><string></string>
<key>progress-0</key><string></string>
<key>light-down</key><string>🔅</string>
<key>light-up</key><string>🔆</string>
<key>adjust</key><string>◑</string>
<key>code</key><string></string>
<key>monitor</key><string>💻</string>
<key>infinity</key><string>∞</string>
<key>light-bulb</key><string>💡</string>
<key>credit-card</key><string>💳</string>
<key>database</key><string>📸</string>
<key>voicemail</key><string>✇</string>
<key>clipboard</key><string>📋</string>
<key>cart</key><string></string>
<key>box</key><string>📦</string>
<key>ticket</key><string>🎫</string>
<key>rss</key><string></string>
<key>signal</key><string>📶</string>
<key>thermometer</key><string>📿</string>
<key>water</key><string>💦</string>
<key>sweden</key><string></string>
<key>line-graph</key><string>📈</string>
<key>pie-chart</key><string>◴</string>
<key>bar-graph</key><string>📊</string>
<key>area-graph</key><string>🔾</string>
<key>lock</key><string>🔒</string>
<key>lock-open</key><string>🔓</string>
<key>logout</key><string></string>
<key>login</key><string></string>
<key>check</key><string>✓</string>
<key>cross</key><string>❌</string>
<key>squared-minus</key><string>⊟</string>
<key>squared-plus</key><string>⊞</string>
<key>squared-cross</key><string>❎</string>
<key>circled-minus</key><string>⊖</string>
<key>circled-plus</key><string>⊕</string>
<key>circled-cross</key><string>✖</string>
<key>minus</key><string>➖</string>
<key>plus</key><string>➕</string>
<key>erase</key><string>⌫</string>
<key>block</key><string>🚫</string>
<key>info</key><string>ℹ</string>
<key>circled-info</key><string></string>
<key>help</key><string>❓</string>
<key>circled-help</key><string></string>
<key>warning</key><string>⚠</string>
<key>cycle</key><string>🔄</string>
<key>cw</key><string>⟳</string>
<key>ccw</key><string>⟲</string>
<key>shuffle</key><string>🔀</string>
<key>back</key><string>🔙</string>
<key>level-down</key><string>↳</string>
<key>retweet</key><string></string>
<key>loop</key><string>🔁</string>
<key>back-in-time</key><string></string>
<key>level-up</key><string>↰</string>
<key>switch</key><string>⇆</string>
<key>numbered-list</key><string></string>
<key>add-to-list</key><string></string>
<key>layout</key><string>⚏</string>
<key>list</key><string>☰</string>
<key>text-doc</key><string>📄</string>
<key>text-doc-inverted</key><string></string>
<key>doc</key><string></string>
<key>docs</key><string></string>
<key>landscape-doc</key><string></string>
<key>picture</key><string>🌄</string>
<key>video</key><string>🎬</string>
<key>music</key><string>🎵</string>
<key>folder</key><string>📁</string>
<key>archive</key><string></string>
<key>trash</key><string></string>
<key>upload</key><string>📤</string>
<key>download</key><string>📥</string>
<key>save</key><string>💾</string>
<key>install</key><string></string>
<key>cloud</key><string>☁</string>
<key>upload-cloud</key><string></string>
<key>bookmark</key><string>🔖</string>
<key>bookmarks</key><string>📑</string>
<key>open-book</key><string>📖</string>
<key>play</key><string>▶</string>
<key>paus</key><string>‖</string>
<key>record</key><string>●</string>
<key>stop</key><string>■</string>
<key>ff</key><string>⏩</string>
<key>fb</key><string>⏪</string>
<key>to-start</key><string>⏮</string>
<key>to-end</key><string>⏭</string>
<key>resize-full</key><string></string>
<key>resize-small</key><string></string>
<key>volume</key><string>⏷</string>
<key>sound</key><string>🔊</string>
<key>mute</key><string>🔇</string>
<key>flow-cascade</key><string>🕨</string>
<key>flow-branch</key><string>🕩</string>
<key>flow-tree</key><string>🕪</string>
<key>flow-line</key><string>🕫</string>
<key>flow-parallel</key><string>🕬</string>
<key>left-bold</key><string></string>
<key>down-bold</key><string></string>
<key>up-bold</key><string></string>
<key>right-bold</key><string></string>
<key>left</key><string>⬅</string>
<key>down</key><string>⬇</string>
<key>up</key><string>⬆</string>
<key>right</key><string>➡</string>
<key>circled-left</key><string></string>
<key>circled-down</key><string></string>
<key>circled-up</key><string></string>
<key>circled-right</key><string></string>
<key>triangle-left</key><string>◂</string>
<key>triangle-down</key><string>▾</string>
<key>triangle-up</key><string>▴</string>
<key>triangle-right</key><string>▸</string>
<key>chevron-left</key><string></string>
<key>chevron-down</key><string></string>
<key>chevron-up</key><string></string>
<key>chevron-right</key><string></string>
<key>chevron-small-left</key><string></string>
<key>chevron-small-down</key><string></string>
<key>chevron-small-up</key><string></string>
<key>chevron-small-right</key><string></string>
<key>chevron-thin-left</key><string></string>
<key>chevron-thin-down</key><string></string>
<key>chevron-thin-up</key><string></string>
<key>chevron-thin-right</key><string></string>
<key>left-thin</key><string>←</string>
<key>down-thin</key><string>↓</string>
<key>up-thin</key><string>↑</string>
<key>right-thin</key><string>→</string>
<key>arrow-combo</key><string></string>
<key>three-dots</key><string>⏶</string>
<key>two-dots</key><string>⏵</string>
<key>dot</key><string>⏴</string>
<key>cc</key><string>🕅</string>
<key>cc-by</key><string>🕆</string>
<key>cc-nc</key><string>🕇</string>
<key>cc-nc-eu</key><string>🕈</string>
<key>cc-nc-jp</key><string>🕉</string>
<key>cc-sa</key><string>🕊</string>
<key>cc-nd</key><string>🕋</string>
<key>cc-pd</key><string>🕌</string>
<key>cc-zero</key><string>🕍</string>
<key>cc-share</key><string>🕎</string>
<key>cc-remix</key><string>🕏</string>
<key>db-logo</key><string>🗹</string>
<key>db-shape</key><string>🗺</string>

</dict>
</plist>
