<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>camera</key>
	<string>A</string>
	<key>book</key>
	<string>B</string>
	<key>disc</key>
	<string>C</string>
	<key>download</key>
	<string>D</string>
	<key>eye</key>
	<string>E</string>
	<key>facebook</key>
	<string>F</string>
	<key>facebook-alt</key>
	<string>G</string>
	<key>blower</key>
	<string>H</string>
	<key>basket</key>
	<string>I</string>
	<key>tag</key>
	<string>J</string>
	<key>document</key>
	<string>K</string>
	<key>thumbs-down</key>
	<string>L</string>
	<key>ipod</key>
	<string>M</string>
	<key>mobile-phone</key>
	<string>N</string>
	<key>iphone</key>
	<string>O</string>
	<key>play</key>
	<string>P</string>
	<key>ipad</key>
	<string>Q</string>
	<key>refresh</key>
	<string>R</string>
	<key>screen</key>
	<string>S</string>
	<key>twitter</key>
	<string>T</string>
	<key>twitter-alt</key>
	<string>U</string>
	<key>write</key>
	<string>V</string>
	<key>copy</key>
	<string>W</string>
	<key>x</key>
	<string>X</string>
	<key>speaker</key>
	<string>Y</string>
	<key>alignment</key>
	<string>Z</string>
	<key>newspaper</key>
	<string>a</string>
	<key>comment</key>
	<string>b</string>
	<key>phone</key>
	<string>c</string>
	<key>printer</key>
	<string>d</string>
	<key>pencil</key>
	<string>e</string>
	<key>avatar</key>
	<string>f</string>
	<key>avatars</key>
	<string>g</string>
	<key>video</key>
	<string>h</string>
	<key>cart</key>
	<string>i</string>
	<key>heart</key>
	<string>j</string>
	<key>avatar-2</key>
	<string>k</string>
	<key>thumbs-up</key>
	<string>l</string>
	<key>enevlope</key>
	<string>m</string>
	<key>lock</key>
	<string>n</string>
	<key>action</key>
	<string>o</string>
	<key>building</key>
	<string>p</string>
	<key>unlock</key>
	<string>q</string>
	<key>pencil-alt</key>
	<string>r</string>
	<key>magnifier</key>
	<string>s</string>
	<key>bird</key>
	<string>t</string>
	<key>minimize</key>
	<string>u</string>
	<key>maximize</key>
	<string>v</string>
	<key>globe</key>
	<string>w</string>
	<key>close</key>
	<string>x</string>
	<key>zoom-in</key>
	<string>y</string>
	<key>zoom-out</key>
	<string>z</string>
	<key>volume-down</key>
	<string>1</string>
	<key>volume-up</key>
	<string>2</string>
	<key>grid</key>
	<string>3</string>
	<key>task</key>
	<string>4</string>
	<key>sort</key>
	<string>5</string>
	<key>line-chart</key>
	<string>6</string>
	<key>bar-chart</key>
	<string>7</string>
	<key>pie-chart</key>
	<string>8</string>
	<key>bell</key>
	<string>9</string>
	<key>volume-mute</key>
	<string>0</string>
	<key>radio</key>
	<string>`</string>
	<key>tilde</key>
	<string>~</string>
	<key>warning</key>
	<string>!</string>
	<key>@</key>
	<string>@</string>
	<key>note</key>
	<string>#</string>
	<key>money</key>
	<string>$</string>
	<key>check</key>
	<string>%</string>
	<key>signal</key>
	<string>^</string>
	<key>map-pin</key>
	<string>,</string>
	<key>star</key>
	<string>*</string>
	<key>tools</key>
	<string>(</string>
	<key>cert</key>
	<string>)</string>
	<key>up</key>
	<string>-</string>
	<key>film</key>
	<string>_</string>
	<key>plus</key>
	<string>+</string>
	<key>information</key>
	<string>=</string>
	<key>arrow-down</key>
	<string>[</string>
	<key>clock</key>
	<string>{</string>
	<key>arrow-up</key>
	<string>]</string>
	<key>clock-alt</key>
	<string>}</string>
	<key>sign</key>
	<string>&apos;</string>
	<key>void</key>
	<string>&quot;</string>
	<key>:</key>
	<string>:</string>
	<key>;</key>
	<string>;</string>
	<key>left</key>
	<string>&lt;</string>
	<key>right</key>
	<string>&gt;</string>
	<key>question</key>
	<string>?</string>
	<key>down</key>
	<string>/</string>
</dict>
</plist>
