<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict>
<key>baseline-test</key><string>&#xf100;</string>
<key>circle-arrow-up</key><string>&#xf101;</string>
<key>coin</key><string>&#xf102;</string>
<key>grid</key><string>&#xf103;</string>
</dict></plist>
