<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<string>A</string>
	<key>pencil</key>
	<string>B</string>
	<key>pencil-2</key>
	<string>C</string>
	<key>pen</key>
	<string>D</string>
	<key>book</key>
	<string>E</string>
	<key>envelope</key>
	<string>F</string>
	<key>document</key>
	<string>G</string>
	<key>paper</key>
	<string>H</string>
	<key>document-2</key>
	<string>I</string>
	<key>clipboard</key>
	<string>J</string>
	<key>book-2</key>
	<string>K</string>
	<key>book-3</key>
	<string>L</string>
	<key>books</key>
	<string>M</string>
	<key>intray-empty</key>
	<string>N</string>
	<key>intray</key>
	<string>O</string>
	<key>folder</key>
	<string>P</string>
	<key>calculator</key>
	<string>Q</string>
	<key>computer</key>
	<string>R</string>
	<key>display</key>
	<string>S</string>
	<key>iphone</key>
	<string>T</string>
	<key>ipad</key>
	<string>U</string>
	<key>window</key>
	<string>V</string>
	<key>printer</key>
	<string>W</string>
	<key>mouse</key>
	<string>X</string>
	<key>globe</key>
	<string>Y</string>
	<key>share</key>
	<string>Z</string>
	<key>tag</key>
	<string>a</string>
	<key>bookmark</key>
	<string>b</string>
	<key>compasses</key>
	<string>c</string>
	<key>calendar</key>
	<string>d</string>
	<key>calendar-2</key>
	<string>e</string>
	<key>comment</key>
	<string>f</string>
	<key>comments</key>
	<string>g</string>
	<key>comment-2</key>
	<string>h</string>
	<key>movie</key>
	<string>i</string>
	<key>plcture</key>
	<string>j</string>
	<key>palette</key>
	<string>k</string>
	<key>trashcan</key>
	<string>l</string>
	<key>locked</key>
	<string>m</string>
	<key>disc</key>
	<string>n</string>
	<key>unlocked</key>
	<string>o</string>
	<key>signal</key>
	<string>p</string>
	<key>storage</key>
	<string>q</string>
	<key>cube</key>
	<string>r</string>
	<key>pie-chart</key>
	<string>s</string>
	<key>bar-chart</key>
	<string>t</string>
	<key>line-chart</key>
	<string>u</string>
	<key>gear</key>
	<string>v</string>
	<key>gears</key>
	<string>w</string>
	<key>pin</key>
	<string>x</string>
	<key>map-pin</key>
	<string>y</string>
	<key>compasses-2</key>
	<string>z</string>
	<key>shopping-kart</key>
	<string>0</string>
	<key>shopping-kart-add</key>
	<string>1</string>
	<key>shopping-kart-remove</key>
	<string>2</string>
	<key>microphone</key>
	<string>3</string>
	<key>crown</key>
	<string>4</string>
	<key>umbrella</key>
	<string>5</string>
	<key>sunny</key>
	<string>6</string>
	<key>snowman</key>
	<string>7</string>
	<key>lightning</key>
	<string>8</string>
	<key>thermometer</key>
	<string>9</string>
	<key>clock</key>
	<string>!</string>
	<key>cloud</key>
	<string>&quot;</string>
	<key>cloud-download</key>
	<string>#</string>
	<key>cloud-upload</key>
	<string>$</string>
	<key>battery-full</key>
	<string>%</string>
	<key>battery-empty</key>
	<string>&amp;</string>
	<key>battery-charging</key>
	<string>&apos;</string>
	<key>flag</key>
	<string>(</string>
	<key>light-bulb</key>
	<string>)</string>
	<key>camera</key>
	<string>*</string>
	<key>video-camera</key>
	<string>+</string>
	<key>television</key>
	<string>,</string>
	<key>case</key>
	<string>-</string>
	<key>suitcase</key>
	<string>.</string>
	<key>giftbox</key>
	<string>/</string>
	<key>cassette</key>
	<string>:</string>
	<key>telephone</key>
	<string>;</string>
	<key>phone-connecting</key>
	<string>&lt;</string>
	<key>phone</key>
	<string>=</string>
	<key>cup</key>
	<string>&gt;</string>
	<key>tie</key>
	<string>?</string>
	<key>map</key>
	<string>@</string>
	<key>magnifier</key>
	<string>[</string>
	<key>zoom-in</key>
	<string>\</string>
	<key>zoom-out</key>
	<string>]</string>
	<key>eye</key>
	<string>^</string>
	<key>link</key>
	<string>_</string>
	<key>paper-clip</key>
	<string>`</string>
	<key>power</key>
	<string>{</string>
	<key>refresh</key>
	<string>|</string>
	<key>refresh-2</key>
	<string>}</string>
	<key>selection</key>
	<string>~</string>
	<key>volume</key>
	<string>Ä</string>
	<key>volume-up</key>
	<string>Å</string>
	<key>volume-down</key>
	<string>Ç</string>
	<key>volume-mute</key>
	<string>É</string>
	<key>play</key>
	<string>Ñ</string>
	<key>stop</key>
	<string>Ö</string>
	<key>pause</key>
	<string>Ü</string>
	<key>rewind</key>
	<string>á</string>
	<key>previous</key>
	<string>à</string>
	<key>next</key>
	<string>ã</string>
	<key>fast-forward</key>
	<string>â</string>
	<key>loop</key>
	<string>ä</string>
	<key>shuffle</key>
	<string>å</string>
	<key>arrow-down</key>
	<string>ç</string>
	<key>arrow-left</key>
	<string>é</string>
	<key>arrow-up</key>
	<string>è</string>
	<key>arrow-right</key>
	<string>ê</string>
	<key>action</key>
	<string>ë</string>
	<key>action-2</key>
	<string>ì</string>
	<key>download</key>
	<string>í</string>
	<key>upload</key>
	<string>î</string>
	<key>plus</key>
	<string>ï</string>
	<key>minus</key>
	<string>ñ</string>
	<key>tick</key>
	<string>ó</string>
	<key>cross</key>
	<string>ò</string>
	<key>location</key>
	<string>ô</string>
	<key>resize</key>
	<string>ö</string>
	<key>resize-2</key>
	<string>õ</string>
	<key>direction-right</key>
	<string>ú</string>
	<key>direction-left</key>
	<string>ù</string>
	<key>direction-down</key>
	<string>û</string>
	<key>direction-up</key>
	<string>ü</string>
	<key>star</key>
	<string>–</string>
	<key>heart</key>
	<string>—</string>
	<key>melody</key>
	<string>„</string>
	<key>shield</key>
	<string>ˆ</string>
	<key>scissor</key>
	<string>˜</string>
	<key>information</key>
	<string>¯</string>
	<key>avatar</key>
	<string>˘</string>
	<key>avatar-2</key>
	<string>˙</string>
	<key>avatars</key>
	<string>‰</string>
	<key>avatars-2</key>
	<string>¸</string>
	<key>wireless</key>
	<string>˝</string>
	<key>wireless-2</key>
	<string>˛</string>
	<key>list</key>
	<string>ˇ</string>
	<key>bell</key>
	<string>†</string>
	<key>thumb-down</key>
	<string>°</string>
	<key>thumb-up</key>
	<string>¢</string>
</dict>
</plist>
