<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home</key>
	<string>A</string>
	<key>pencil</key>
	<string>B</string>
	<key>pencil-2</key>
	<string>C</string>
	<key>pen</key>
	<string>D</string>
	<key>book</key>
	<string>E</string>
	<key>envelope</key>
	<string>F</string>
	<key>document</key>
	<string>G</string>
	<key>paper</key>
	<string>H</string>
	<key>document-2</key>
	<string>I</string>
	<key>clipboard</key>
	<string>J</string>
	<key>book-2</key>
	<string>K</string>
	<key>book-3</key>
	<string>L</string>
	<key>books</key>
	<string>M</string>
	<key>intray-empty</key>
	<string>N</string>
	<key>intray</key>
	<string>O</string>
	<key>folder</key>
	<string>P</string>
	<key>calculator</key>
	<string>Q</string>
	<key>computer</key>
	<string>R</string>
	<key>display</key>
	<string>S</string>
	<key>iphone</key>
	<string>T</string>
	<key>ipad</key>
	<string>U</string>
	<key>window</key>
	<string>V</string>
	<key>printer</key>
	<string>W</string>
	<key>mouse</key>
	<string>X</string>
	<key>globe</key>
	<string>Y</string>
	<key>share</key>
	<string>Z</string>
	<key>tag</key>
	<string>a</string>
	<key>bookmark</key>
	<string>b</string>
	<key>compasses</key>
	<string>c</string>
	<key>calendar</key>
	<string>d</string>
	<key>calendar-2</key>
	<string>e</string>
	<key>comment</key>
	<string>f</string>
	<key>comments</key>
	<string>g</string>
	<key>comment-2</key>
	<string>h</string>
	<key>movie</key>
	<string>i</string>
	<key>plcture</key>
	<string>j</string>
	<key>palette</key>
	<string>k</string>
	<key>trashcan</key>
	<string>l</string>
	<key>locked</key>
	<string>m</string>
	<key>disc</key>
	<string>n</string>
	<key>unlocked</key>
	<string>o</string>
	<key>signal</key>
	<string>p</string>
	<key>storage</key>
	<string>q</string>
	<key>cube</key>
	<string>r</string>
	<key>pie-chart</key>
	<string>s</string>
	<key>bar-chart</key>
	<string>t</string>
	<key>line-chart</key>
	<string>u</string>
	<key>gear</key>
	<string>v</string>
	<key>gears</key>
	<string>w</string>
	<key>pin</key>
	<string>x</string>
	<key>map-pin</key>
	<string>y</string>
	<key>compasses-2</key>
	<string>z</string>
	<key>shopping-kart</key>
	<string>0</string>
	<key>shopping-kart-add</key>
	<string>1</string>
	<key>shopping-kart-remove</key>
	<string>2</string>
	<key>microphone</key>
	<string></string>
	<key>bag</key>
	<string></string>
	<key>battery-2</key>
	<string></string>
	<key>location</key>
	<string></string>
	<key>unlocked</key>
	<string></string>
	<key>headphone</key>
	<string></string>
	<key>badge</key>
	<string></string>
	<key>mug-2</key>
	<string></string>
	<key>arrow-bottom-right</key>
	<string></string>
	<key>hardware</key>
	<string></string>
	<key>address-book</key>
	<string></string>
	<key>pin</key>
	<string></string>
	<key>calculator</key>
	<string></string>
	<key>thumbs-up</key>
	<string></string>
	<key>leaf</key>
	<string></string>
	<key>refresh</key>
	<string></string>
	<key>volume</key>
	<string></string>
	<key>drink-2</key>
	<string></string>
	<key>speaker</key>
	<string></string>
	<key>broadcast-2</key>
	<string></string>
	<key>gas-pump</key>
	<string></string>
	<key>earth</key>
	<string></string>
	<key>broadcast</key>
	<string></string>
	<key>lightning</key>
	<string></string>
	<key>battery-full</key>
	<string></string>
	<key>sunny</key>
	<string></string>
	<key>key</key>
	<string></string>
	<key>direction</key>
	<string></string>
	<key>printer</key>
	<string></string>
	<key>radio</key>
	<string></string>
	<key>quote</key>
	<string></string>
	<key>contract</key>
	<string></string>
	<key>pictures</key>
	<string></string>
	<key>phone-2</key>
	<string></string>
	<key>book</key>
	<string></string>
	<key>pen</key>
	<string></string>
	<key>ipod-2</key>
	<string></string>
	<key>settings</key>
	<string></string>
	<key>usb</key>
	<string></string>
	<key>food</key>
	<string></string>
	<key>window</key>
	<string></string>
	<key>tag</key>
	<string></string>
	<key>folder</key>
	<string></string>
	<key>gamepad</key>
	<string></string>
	<key>monitor</key>
	<string></string>
	<key>trashcan</key>
	<string></string>
	<key>hdd</key>
	<string></string>
	<key>bird</key>
	<string></string>
	<key>user</key>
	<string></string>
	<key>cog</key>
	<string></string>
	<key>bug</key>
	<string></string>
	<key>untitled</key>
	<string></string>
	<key>support</key>
	<string></string>
	<key>pencil</key>
	<string></string>
	<key>flower</key>
	<string></string>
	<key>arrow-top-right</key>
	<string></string>
	<key>tv</key>
	<string></string>
	<key>tree</key>
	<string></string>
	<key>modem</key>
	<string></string>
	<key>thumbs-down</key>
	<string></string>
	<key>arrow-left</key>
	<string></string>
	<key>zoom-out</key>
	<string></string>
	<key>heart</key>
	<string></string>
	<key>arrow-bottom-left</key>
	<string></string>
	<key>card</key>
	<string></string>
	<key>flag</key>
	<string></string>
	<key>umbrella</key>
	<string></string>
	<key>file</key>
	<string></string>
	<key>newspaper</key>
	<string></string>
	<key>globe</key>
	<string></string>
	<key>clock</key>
	<string></string>
	<key>cart</key>
	<string></string>
	<key>mug</key>
	<string></string>
	<key>cassette</key>
	<string></string>
	<key>bookmark-2</key>
	<string></string>
	<key>ipod</key>
	<string></string>
	<key>drink</key>
	<string></string>
	<key>attachment</key>
	<string></string>
	<key>cord</key>
	<string></string>
	<key>bookmark</key>
	<string></string>
	<key>camera</key>
	<string></string>
	<key>arrow-up</key>
	<string></string>
	<key>enlarge</key>
	<string></string>
	<key>notebook</key>
	<string></string>
	<key>music</key>
	<string></string>
	<key>facebook</key>
	<string></string>
	<key>droplet</key>
	<string></string>
	<key>gift</key>
	<string></string>
	<key>twitter-old</key>
	<string></string>
	<key>mine</key>
	<string></string>
	<key>server</key>
	<string></string>
	<key>movie</key>
	<string></string>
	<key>user-2</key>
	<string></string>
	<key>chat</key>
	<string></string>
	<key>locked</key>
	<string></string>
	<key>car</key>
	<string></string>
	<key>phone-3</key>
	<string></string>
	<key>medicine</key>
	<string></string>
</dict>
</plist>
